<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>
    <p>From  <%= @event.starts_at.strftime("%A, %m-%d-'%y, at %H:%M") %> until <%= @event.ends_at.strftime("%A, %m-%d, at %H:%M") %></p>
    <hr />
    <p>Price:  <%= @event.price %></p>
    <p>Capacity:   <%= @event.capacity %><%= @event.capacity > 1 ? " guest" : " guests" %></p>
    <br />

    <h4>About</h4>
    <p><%= @event.description %></p>
    <p>Food included: <%= @event.includes_food ? "Yes" : "No" %></p>
    <p>Status:  <%= @event.active ? "Active" : "Inactive" %></p>
  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
